<!DOCTYPE html>
<html>

  <head> 

    <title>
    Forum
    </title>

  </head>

  <body>
    <div id="app">
        <div v-if="page == 'login'">
            <div>
                <h1>Login</h1>
                Username: <input v-model="loginUsername" placeholder="Username"><br />
                Password: <input v-model="loginPassword" type="password" placeholder="Password"><br />
                <button @click="postSession">Log in</button><br>
            </div>

            <div>
                <h1>Sign Up</h1>
                Full Name <input v-model="newName" placeholder="Name"><br>
                Username <input v-model="newUsername" placeholder="Username"><br>
                Password <input v-model="newPassword" type="password" placeholder="Password"><br>
                <button @click="postUser">Sign Up</button>
            </div>
      </div>
      <div v-if="page == 'welcome'">
        <h1>WELCOME</h1>

      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
